
body {
    height: 200vh;
}
.home-bg {
    background-image: url(../Images/banner/front-page-image.png);
    max-width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}